/* Root */
:root{
  --blue: #006CFA;
  --green: #00E165;
}

/* Generics */
body{
  font-family: sans-serif;
}

h2{
  text-align: left;
  font-weight: bold;
}

.row > [class^='col']{
min-height: 100px;
background-color: var(--blue);
margin: 1px 0;
}

.row .row{
  padding: 10px;
}

.row .row > [class^='col']{
  background-color: var(--green);
}


/* Utils */
.text-white{
  color: #fff;
}

section{
  margin-bottom: 50px;
}